@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .disabled {
    @apply opacity-50 pointer-events-none cursor-not-allowed;
  }
}

@layer utilities {
  html {
    font-size: 12px;
  }
  .one-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}